In [2]:
from azureml.opendatasets import NycTlcGreen
import pandas as pd
from datetime import datetime
from dateutil.relativedelta import relativedelta

In [3]:
green_taxi_df = pd.DataFrame([])
start = datetime.strptime("1/1/2015","%m/%d/%Y")
end = datetime.strptime("1/31/2015","%m/%d/%Y")

for sample_month in range(12):
    temp_df_green = NycTlcGreen(start + relativedelta(months=sample_month), end + relativedelta(months=sample_month)) \
        .to_pandas_dataframe()
    green_taxi_df = green_taxi_df.append(temp_df_green.sample(2000))

green_taxi_df.head(10)

[Info] read from /tmp/tmpdc_th6xo/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2015/puMonth=1/part-00175-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2745-1.c000.snappy.parquet
[Info] read from /tmp/tmp5khudi2y/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2015/puMonth=2/part-00007-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2577-1.c000.snappy.parquet
[Info] read from /tmp/tmpe7il8k_f/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2015/puMonth=3/part-00133-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2703-1.c000.snappy.parquet
[Info] read from /tmp/tmprd3stovw/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2015/puMonth=4/part-00073-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2643-1.c000.snappy.parquet
[Info] read from /tmp/tmpmry65h1m/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2015/puMonth=5/part-00177-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2747-1.c000.snappy.parquet
[Info] read from /tmp/tmpv66eeyxf/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2015/puMonth=6/part-00156-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2726-2.c000.snappy.parquet
[Info] read from /tmp/tmpxv812i26/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2015/puMonth=7/part-00147-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2717-1.c000.snappy.parquet
[Info] read from /tmp/tmpf0d07oab/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2015/puMonth=8/part-00074-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2644-1.c000.snappy.parquet
[Info] read from /tmp/tmp1esemw1_/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2015/puMonth=9/part-00092-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2662-1.c000.snappy.parquet
[Info] read from /tmp/tmphhcnsz78/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2015/puMonth=10/part-00105-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2675-1.c000.snappy.parquet
[Info] read from /tmp/tmprwisf1g1/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2015/puMonth=11/part-00089-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2659-1.c000.snappy.parquet
[Info] read from /tmp/tmp1xtu645e/https%3A/%2Fazureopendatastorage.azurefd.net/nyctlc/green/puYear=2015/puMonth=12/part-00020-tid-4753095944193949832-fee7e113-666d-4114-9fcb-bcd3046479f3-2590-1.c000.snappy.parquet

,vendorID,lpepPickupDatetime,lpepDropoffDatetime,passengerCount,tripDistance,puLocationId,doLocationId,pickupLongitude,pickupLatitude,dropoffLongitude,...,extra,mtaTax,improvementSurcharge,tipAmount,tollsAmount,ehailFee,totalAmount,tripType,puYear,puMonth
517387,1,2015-01-18 14:04:26,2015-01-18 14:16:26,2,2.10,None,None,-73.892593,40.746773,-73.927452,...,0.0,0.5,0.3,0.00,0.0,NaN,10.80,1.0,2015,1
448706,1,2015-01-30 23:45:52,2015-01-30 23:48:39,1,0.90,None,None,-73.893097,40.861992,-73.889069,...,0.5,0.5,0.3,0.00,0.0,NaN,5.80,1.0,2015,1
535743,1,2015-01-18 19:46:31,2015-01-18 19:55:38,1,2.50,None,None,0.000000,0.000000,-73.990929,...,0.0,0.5,0.3,0.00,0.0,NaN,10.80,1.0,2015,1
1131617,1,2015-01-17 22:44:33,2015-01-17 23:01:55,2,7.80,None,None,-73.981430,40.690090,-73.957825,...,0.5,0.5,0.3,4.95,0.0,NaN,29.75,1.0,2015,1
1001839,2,2015-01-25 11:38:32,2015-01-25 11:51:47,1,3.39,None,None,-73.954796,40.800297,-73.976944,...,0.0,0.5,0.3,0.00,0.0,NaN,13.80,1.0,2015,1
676447,1,2015-01-11 11:00:10,2015-01-11 11:04:12,1,0.80,None,None,-73.901276,40.847397,-73.902657,...,0.0,0.5,0.3,0.00,0.0,NaN,5.80,1.0,2015,1
702642,2,2015-01-15 15:00:07,2015-01-15 15:06:36,1,0.84,None,None,-73.919891,40.766167,-73.928215,...,0.0,0.5,0.3,0.00,0.0,NaN,6.80,1.0,2015,1
1352499,1,2015-01-21 07:27:28,2015-01-21 07:39:34,1,1.20,None,None,-73.938538,40.804932,-73.941757,...,0.0,0.5,0.3,0.00,0.0,NaN,9.80,1.0,2015,1
109512,2,2015-01-12 03:32:12,2015-01-12 03:40:30,5,2.28,None,None,-73.903389,40.745380,-73.890388,...,0.5,0.5,0.3,0.00,0.0,NaN,10.30,1.0,2015,1
396145,2,2015-01-19 08:43:06,2015-01-19 08:53:25,3,2.44,None,None,-73.830559,40.759506,-73.792664,...,0.0,0.5,0.3,0.00,0.0,NaN,10.80,1.0,2015,1

In [4]:
def build_time_features(vector):
    pickup_datetime = vector[0]
    month_num = pickup_datetime.month
    day_of_month = pickup_datetime.day
    day_of_week = pickup_datetime.weekday()
    hour_of_day = pickup_datetime.hour

    return pd.Series((month_num, day_of_month, day_of_week, hour_of_day))

green_taxi_df[["month_num", "day_of_month","day_of_week", "hour_of_day"]] = green_taxi_df[["lpepPickupDatetime"]].apply(build_time_features, axis=1)
green_taxi_df.head(10)

,vendorID,lpepPickupDatetime,lpepDropoffDatetime,passengerCount,tripDistance,puLocationId,doLocationId,pickupLongitude,pickupLatitude,dropoffLongitude,...,tollsAmount,ehailFee,totalAmount,tripType,puYear,puMonth,month_num,day_of_month,day_of_week,hour_of_day
517387,1,2015-01-18 14:04:26,2015-01-18 14:16:26,2,2.10,None,None,-73.892593,40.746773,-73.927452,...,0.0,NaN,10.80,1.0,2015,1,1,18,6,14
448706,1,2015-01-30 23:45:52,2015-01-30 23:48:39,1,0.90,None,None,-73.893097,40.861992,-73.889069,...,0.0,NaN,5.80,1.0,2015,1,1,30,4,23
535743,1,2015-01-18 19:46:31,2015-01-18 19:55:38,1,2.50,None,None,0.000000,0.000000,-73.990929,...,0.0,NaN,10.80,1.0,2015,1,1,18,6,19
1131617,1,2015-01-17 22:44:33,2015-01-17 23:01:55,2,7.80,None,None,-73.981430,40.690090,-73.957825,...,0.0,NaN,29.75,1.0,2015,1,1,17,5,22
1001839,2,2015-01-25 11:38:32,2015-01-25 11:51:47,1,3.39,None,None,-73.954796,40.800297,-73.976944,...,0.0,NaN,13.80,1.0,2015,1,1,25,6,11
676447,1,2015-01-11 11:00:10,2015-01-11 11:04:12,1,0.80,None,None,-73.901276,40.847397,-73.902657,...,0.0,NaN,5.80,1.0,2015,1,1,11,6,11
702642,2,2015-01-15 15:00:07,2015-01-15 15:06:36,1,0.84,None,None,-73.919891,40.766167,-73.928215,...,0.0,NaN,6.80,1.0,2015,1,1,15,3,15
1352499,1,2015-01-21 07:27:28,2015-01-21 07:39:34,1,1.20,None,None,-73.938538,40.804932,-73.941757,...,0.0,NaN,9.80,1.0,2015,1,1,21,2,7
109512,2,2015-01-12 03:32:12,2015-01-12 03:40:30,5,2.28,None,None,-73.903389,40.745380,-73.890388,...,0.0,NaN,10.30,1.0,2015,1,1,12,0,3
396145,2,2015-01-19 08:43:06,2015-01-19 08:53:25,3,2.44,None,None,-73.830559,40.759506,-73.792664,...,0.0,NaN,10.80,1.0,2015,1,1,19,0,8

In [5]:
columns_to_remove = ["lpepPickupDatetime", "lpepDropoffDatetime", "puLocationId", "doLocationId", "extra", "mtaTax",
                     "improvementSurcharge", "tollsAmount", "ehailFee", "tripType", "rateCodeID",
                     "storeAndFwdFlag", "paymentType", "fareAmount", "tipAmount"
                    ]
for col in columns_to_remove:
    green_taxi_df.pop(col)

green_taxi_df.head(5)

,vendorID,passengerCount,tripDistance,pickupLongitude,pickupLatitude,dropoffLongitude,dropoffLatitude,totalAmount,puYear,puMonth,month_num,day_of_month,day_of_week,hour_of_day
517387,1,2,2.10,-73.892593,40.746773,-73.927452,40.752663,10.80,2015,1,1,18,6,14
448706,1,1,0.90,-73.893097,40.861992,-73.889069,40.871056,5.80,2015,1,1,30,4,23
535743,1,1,2.50,0.000000,0.000000,-73.990929,40.717270,10.80,2015,1,1,18,6,19
1131617,1,2,7.80,-73.981430,40.690090,-73.957825,40.765186,29.75,2015,1,1,17,5,22
1001839,2,1,3.39,-73.954796,40.800297,-73.976944,40.759140,13.80,2015,1,1,25,6,11

In [6]:
green_taxi_df.describe()

,vendorID,passengerCount,tripDistance,pickupLongitude,pickupLatitude,dropoffLongitude,dropoffLatitude,totalAmount,puYear,puMonth,month_num,day_of_month,day_of_week,hour_of_day
count,24000.000000,24000.000000,24000.000000,24000.000000,24000.000000,24000.000000,24000.000000,24000.000000,24000.0,24000.000000,24000.000000,24000.000000,24000.000000,24000.000000
mean,1.776708,1.372833,2.861995,-73.843040,40.698571,-73.848205,40.699980,14.707381,2015.0,6.500000,6.500000,15.188833,3.269375,13.574083
std,0.416461,1.047556,2.932007,2.612773,1.440982,2.524419,1.392243,11.691377,0.0,3.452124,3.452124,8.488257,1.967754,6.810808
min,1.000000,0.000000,0.000000,-74.469482,0.000000,-74.469315,0.000000,-150.800000,2015.0,1.000000,1.000000,1.000000,0.000000,0.000000
25%,2.000000,1.000000,1.060000,-73.959513,40.699276,-73.967346,40.699932,7.800000,2015.0,3.750000,3.750000,8.000000,2.000000,9.000000
50%,2.000000,1.000000,1.900000,-73.945084,40.746887,-73.944790,40.747677,11.300000,2015.0,6.500000,6.500000,15.000000,3.000000,15.000000
75%,2.000000,1.000000,3.600000,-73.917557,40.803762,-73.910057,40.793713,17.800000,2015.0,9.250000,9.250000,22.000000,5.000000,19.000000
max,2.000000,9.000000,59.680000,0.000000,41.125702,0.000000,41.149281,450.000000,2015.0,12.000000,12.000000,30.000000,6.000000,23.000000

In [7]:
final_df = green_taxi_df.query("pickupLatitude>=40.53 and pickupLatitude<=40.88")
final_df = final_df.query("pickupLongitude>=-74.09 and pickupLongitude<=-73.72")
final_df = final_df.query("tripDistance>=0.25 and tripDistance<31")
final_df = final_df.query("passengerCount>0 and totalAmount>0")

columns_to_remove_for_training = ["pickupLongitude", "pickupLatitude", "dropoffLongitude", "dropoffLatitude"]
for col in columns_to_remove_for_training:
    final_df.pop(col)

In [8]:
final_df.describe()

,vendorID,passengerCount,tripDistance,totalAmount,puYear,puMonth,month_num,day_of_month,day_of_week,hour_of_day
count,23265.000000,23265.000000,23265.000000,23265.000000,23265.0,23265.000000,23265.000000,23265.000000,23265.000000,23265.000000
mean,1.777563,1.371717,2.923928,14.725871,2015.0,6.496583,6.496583,15.177950,3.275091,13.582635
std,0.415892,1.045710,2.873286,10.517633,0.0,3.452692,3.452692,8.490025,1.965436,6.815028
min,1.000000,1.000000,0.250000,0.050000,2015.0,1.000000,1.000000,1.000000,0.000000,0.000000
25%,2.000000,1.000000,1.100000,8.160000,2015.0,3.000000,3.000000,8.000000,2.000000,9.000000
50%,2.000000,1.000000,1.960000,11.300000,2015.0,6.000000,6.000000,15.000000,3.000000,15.000000
75%,2.000000,1.000000,3.660000,17.800000,2015.0,9.000000,9.000000,22.000000,5.000000,19.000000
max,2.000000,6.000000,30.300000,250.000000,2015.0,12.000000,12.000000,30.000000,6.000000,23.000000

In [10]:
from azureml.core.workspace import Workspace
ws = Workspace.from_config()
ws

Workspace.create(name='automl', subscription_id='6560575d-fa06-4e7d-95fb-f962e74efd7a', resource_group='cody-eastus-rg')

In [11]:
from sklearn.model_selection import train_test_split

x_train, x_test = train_test_split(final_df, test_size=0.2, random_state=223)

In [12]:
import logging

automl_settings = {
    "iteration_timeout_minutes": 2,
    "experiment_timeout_hours": 0.3,
    "enable_early_stopping": True,
    "primary_metric": 'spearman_correlation',
    "featurization": 'auto',
    "verbosity": logging.INFO,
    "n_cross_validations": 5
}

In [13]:
from azureml.train.automl import AutoMLConfig

automl_config = AutoMLConfig(task='regression',
                             debug_log='automated_ml_errors.log',
                             training_data=x_train,
                             label_column_name="totalAmount",
                             **automl_settings)

In [14]:
from azureml.core.experiment import Experiment
experiment = Experiment(ws, "taxi-experiment")
local_run = experiment.submit(automl_config, show_output=True)

Running on local machine
Parent Run ID: AutoML_cc865739-2fe4-4817-ac48-d5561ac32084

Current status: DatasetEvaluation. Gathering dataset statistics.
Current status: FeaturesGeneration. Generating features for the dataset.
Current status: DatasetFeaturization. Beginning to fit featurizers and featurize the dataset.
Current status: DatasetFeaturizationCompleted. Completed fit featurizers and featurizing the dataset.
Current status: DatasetCrossValidationSplit. Generating individually featurized CV splits.

****************************************************************************************************
DATA GUARDRAILS:

TYPE:         Missing feature values imputation
STATUS:       PASSED
DESCRIPTION:  No feature missing values were detected in the training data.
              Learn more about missing value imputation: https://aka.ms/AutomatedMLFeaturization

****************************************************************************************************

TYPE:         High cardinality feature detection
STATUS:       PASSED
DESCRIPTION:  Your inputs were analyzed, and no high cardinality features were detected.
              Learn more about high cardinality feature handling: https://aka.ms/AutomatedMLFeaturization

****************************************************************************************************
Current status: ModelSelection. Beginning model selection.

****************************************************************************************************
ITERATION: The iteration being evaluated.
PIPELINE: A summary description of the pipeline being evaluated.
DURATION: Time taken for the current iteration.
METRIC: The result of computing score on the fitted pipeline.
BEST: The best observed score thus far.
****************************************************************************************************

 ITERATION   PIPELINE                                       DURATION      METRIC      BEST
         0

In [ ]:
from azureml.widgets import RunDetails
RunDetails(local_run).show()